#main
 {
 
   border-style:solid;
   
   width:100%;
   
   padding:5px 5px 5px 5px;
   
  }


#Header
 {s
 
   border-style: dotted dashed;
   background-color:yellow;
   height:100px;
   
   
      
  }

#navigation   
  {
 
   border-style:dashed;
   background-color:skyblue;
  
   float:left;
   width:400px;
   height:300px;
   margin:10px 10px 10px 10px;
   
   
   
  }


#content
  {
 
   border-style:dotted solid;
   background-color:orange;
    height:300px;
     margin:10px 10px 10px 10px;
    
   

   
     
   
   
  }

#footer
{

  border-style: hidden double dashed;
  background-color:red;
  height:100px; 
   margin:10px 10px 10px 10px;  
   

}